.app-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
}

.header-menu {
    display: flex;
    gap: 20px;
    align-items: center;
    height: 64px;
}

.header-menu-item {
    text-decoration: none;
    color: #333;
    font-weight: bold;

}
.header-menu-item:hover {
    color: #007BFF;
    cursor: pointer;
}