.app-layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.app-content {
    flex: 1;

}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 0 15%;
    min-width: 1200px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}

.header-menu {
    display: flex;
    gap: 80px;
    align-items: center;
    height: 64px;
}

.header-menu-item {
    text-decoration: none;
    color: #333;
    font-weight: bold;

}
.header-menu-item:hover {
    color: #007BFF;
    cursor: pointer;
}

.global-search {
    width: 300px;
}

.login-buttons {
    display: flex;
    justify-content: space-between;
}